name: Release Session Store

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Component version (e.g. 0.1.0 or 0.1.0-beta.2)'
        required: true
        type: string

jobs:
  release:
    name: Release Session Store
    permissions:
      contents: write
      packages: write
    uses: ./.github/workflows/reusable-release-component.yml
    with:
      component-name: session-store
      component-crate: session-store
      version: ${{ inputs.version }}
      wkg-package: wasmcp:session-store
      tag-prefix: session-store-v
    secrets: inherit
